body{
  font-family: Helvetica, sans-serif;
}

.orbit{
  overflow: hidden;
  height: auto;

  .orbit-bullets{
    bottom: 50px;
  }

  .orbit-wrapper{
    position: relative;
  }

  .orbit-previous,.orbit-next{
    background-color: black;
    opacity: 0.5;
    width: 95px;
    height: 121px;
  }

  .orbit-figure{
    position: relative;

    figcaption{
      position: absolute;
      top: 0;
    }

      h2{
        font-family: Georgia, serif;
        color: $primary-color;
        font-weight: bold;
      }

      h3{
        color: white;
        font-weight: bold;
      }

      mark{
        font-family: Futura, Trebuchet MS, Arial, sans-serif;
        color: white;
        font-weight: bold;
        font-size: 100px;
        background: none;
      }

      input{
        background-color: $primary-color;
        color: white;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    button{
      width: 16px;
      height: 16px;
      margin: 10px;

      .is-active{
        background-color: $secondary-color;
      }
    }
  }

.hotel{
  background-image: url("../img/losange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.noir-blanc{
  height: 490px;
  overflow: hidden;
}

.color{
  background-color: $primary-color;
  color: white;
}

.salon{
  width: 50%;
}

h5{
  font-weight: 900!important;
}

hr{
  background-color: $secondary-color;
  width:70px;
  height: 6px;
  left: 0;
  border: 0px;
}

p{
  font-size: 16px;
  font-weight: 300;
}

input{
  background:none;
  border: solid 1px $secondary-color;
  color: $secondary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.cupidon{
  background-image: url("../img/roses.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  h3{
    font-family: Georgia, serif!important;
    color: #4F4F4F!important;
    font-weight: bold!important;
    }

    hr{
      width: 95px;
      background-color: $primary-color;
      height: 1px;
      display: inline-block;
      margin: 10px;
      position: relative;
    }
}

.map{
  height: 747px;
}

footer{
  background-color: #48453C;
  color: white;
}



@media screen and (max-width: 640px){
  .orbit-previous,.orbit-next{
    width: 47px!important;
    height: 60px!important;
  }

  .icon{
    text-align: center;
  }

  .salon{
    width: 100%;
  }

  .cupidon{
    background-image: none;
  }
}
