body{
  font-family: Helvetica, sans-serif;
}

.menu_mobile{
  display: none;
}

header{
  a{
    color: #4f4f4f;
  }
}

.orbit{
  overflow: hidden;
  height: auto;

  .orbit-bullets{
    bottom: 65px;

    button{
      width: 16px;
      height: 16px;
      margin: 10px;
    }
  }

  .orbit-wrapper{
    position: relative;
  }

  .orbit-previous,.orbit-next{
    background-color: black;
    opacity: 0.5;
    width: 95px;
    height: 121px;
    margin: 0;
  }

  .orbit-figure{
    position: relative;

    hr{
      background-color: $primary-color;
      width:70px;
      height: 6px;
      float: left;
      border: 0px;
    }

    button{
      width: 16px;
      height: 16px;
      margin: 10px;

      .is-active{
        background-color: $secondary-color;
      }
    }
  }
}

.hotel{
  background-image: url("../img/losange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.noir-blanc{
  height: 490px;
  overflow: hidden;
}

.color{
  background-color: $primary-color;
  color: white;

  h5{
    font-weight: 900!important;
  }

  hr{
    background-color: $secondary-color;
    width:70px;
    height: 6px;
    float: left;
    border: 0px;
  }

  p{
    font-size: 16px;
    font-weight: 300;
  }

  input{
    background:none;
    border: solid 1px $secondary-color;
    color: $secondary-color;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.salon{
  width: 50%;
}

.cupidon{
  background-image: url("../img/roses.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  h3{
    font-family: Georgia, serif!important;
    color: #4F4F4F!important;
    font-weight: bold!important;
    }

    hr{
      width: 95px;
      background-color: $primary-color;
      height: 1px;
      display: inline-block;
      margin: 10px;
      position: relative;
    }
}

.map{
  height: 747px;
  display: flex;

  .flex{
    height: 310px;
    margin: auto;
  }
}

footer{
  background-color: #48453C;
  color: white;

  .copyright{
    background-color: black;

    .retour{
      background-color: #CBA353;
      width: 29px;
      height: 29px;
    }
  }
}



@media screen and (max-width: 640px){
  .menu_mobile{
    display: block;
    
    .button_ouverture{
      top: 27px;
      position: absolute;
      right: 20px;
    }
  }

  .logo{
    padding-bottom:20px;
  }

  .menu_desktop{
    display: none;
  }

  .orbit-previous,.orbit-next{
    width: 47px!important;
    height: 60px!important;
  }

  .icon{
    text-align: center;
  }

  .salon{
    width: 100%;
  }

  .cupidon{
    background-image: none;
  }

  .copyright-2{
    text-align: center;
  }
}
